@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #55439E, #952FFF); }

h1, h2, p {
  margin: 0; }

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 16px;
  background-image: url("../assets/bgEffect.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }

.img-left-top {
  position: absolute;
  top: -140px;
  right: auto;
  bottom: auto;
  left: -40px;
  width: 352px;
  height: 360px; }
.img-right {
  position: absolute;
  top: 10%;
  bottom: auto;
  left: auto;
  right: -195px;
  width: 639px;
  height: 737px; }
.img-left-bottom {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: -40px;
  width: 354px;
  height: 354px; }

.info {
  width: 500px;
  padding: 32px 16px;
  z-index: 2; }
  .info__title h1 {
    max-width: 240px;
    padding-top: 48px;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-size: calc(26 * 0.0625)rem;
    color: #fff; }
  .info__title p {
    max-width: 370px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-size: calc(18 * 0.0625)rem;
    padding: 16px 0;
    color: #fff; }
  .info__title .info__submit {
    display: flex;
    flex-direction: column; }
    .info__title .info__submit label {
      display: none; }
    .info__title .info__submit input {
      height: 60px;
      padding: 0 8px;
      margin-bottom: 8px;
      font-size: 16px;
      font-size: calc(16 * 0.0625)rem;
      color: #CDBFD8;
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      backdrop-filter: blur(45px);
      outline: none; }
      .info__title .info__submit input::placeholder {
        font-size: 16px;
        font-size: calc(16 * 0.0625)rem;
        font-family: "Lato", sans-serif;
        line-height: 1.6;
        color: #CDBFD8; }
    .info__title .info__submit button {
      height: 50px;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-size: calc(16 * 0.0625)rem;
      font-weight: bold;
      color: #fff;
      background: #55439E;
      box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      outline: none;
      border: none; }
  .info__card {
    margin-top: 32px; }
    .info__card .card {
      padding: 16px;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(45px);
      border-radius: 20px;
      box-sizing: border-box; }
      .info__card .card::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 50%;
        border: solid 2px rgba(255, 255, 255, 0.4);
        border-right: none;
        box-sizing: border-box;
        border-radius: 20px 0 0 20px; }
      .info__card .card::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 50%;
        border: solid 2px rgba(255, 255, 255, 0.3);
        border-left: none;
        box-sizing: border-box;
        border-radius: 0 20px 20px 0; }
      .info__card .card__title h2 {
        padding-bottom: 48px;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-size: calc(20 * 0.0625)rem;
        line-height: 30px;
        color: #fff; }
      .info__card .card__chip {
        padding-bottom: 48px; }
        .info__card .card__chip img {
          width: 60px;
          height: 43px; }
      .info__card .card__footer {
        display: flex;
        justify-content: space-between; }
        .info__card .card__footer .footer-text {
          font-family: "Lato", sans-serif;
          font-size: 16px;
          font-size: calc(16 * 0.0625)rem;
          line-height: 18px;
          color: #fff;
          letter-spacing: 0.05em;
          text-transform: uppercase; }
          .info__card .card__footer .footer-text--large {
            font-size: 20px;
            font-size: calc(20 * 0.0625)rem;
            line-height: 30px;
            letter-spacing: 0.07em; }
        .info__card .card__footer-info p {
          font-size: 20px;
          font-size: calc(20 * 0.0625)rem;
          font-family: "Lato", sans-serif;
          color: #fff; }
          .info__card .card__footer-info p + p {
            margin-top: 8px; }
        .info__card .card__footer-date {
          display: flex;
          justify-content: center;
          align-items: flex-end; }

@media (max-width: 992px) {
  .container {
    min-height: 100%; } }
@media (min-width: 992px) {
  .container {
    height: 100vh; }

  .img-left-top {
    top: -170px;
    left: 10%;
    width: 452px;
    height: 460px; }
  .img-right {
    top: 15%;
    right: 0;
    width: 639px;
    height: 737px; }
  .img-left-bottom {
    bottom: 130px;
    left: 11%; }

  .info {
    display: flex;
    align-items: center;
    width: 1117px; }
    .info__title {
      width: 50%; }
      .info__title h1 {
        max-width: 480px;
        font-size: 48px;
        font-size: calc(48 * 0.0625)rem; }
      .info__title .info__submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative; }
        .info__title .info__submit input {
          width: 100%;
          height: 70px; }
        .info__title .info__submit .button__apply {
          position: absolute;
          right: 8px;
          top: 10px;
          width: 110px;
          height: 50px; }
    .info__card {
      padding-left: 120px; }
      .info__card .card {
        width: 500px;
        height: 300px;
        min-width: 370px;
        padding: 32px; } }

/*# sourceMappingURL=style.css.map */
