//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

$bold: bold;
$normal: normal;
$light: light;

$font-lato: 'Lato', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

//name the colors
$white: #fff;
$gigas:  #55439E;
$electricViolet: #952FFF;
$lavenderGray :#CDBFD8;


//shadow


//rgba
$rgbaWith-2:rgba(255, 255, 255, 0.2);
$rgbaWith-3:rgba(255, 255, 255, 0.3);
$rgbaWith-4:rgba(255, 255, 255, 0.4);
$rgbaWith-15:rgba(255, 255, 255, 0.15);


//gutter
$gutter: 16px;


//media queires
$breakPoints: 768px;