@import './variables';
@import './mixins';

//
//  ALL DEVICES
//_________________________________________

body {
    height: 100vh;

    margin: 0;
    padding: 0;

    background: linear-gradient(to right, $gigas, $electricViolet);
}

//reset css
h1, h2, p {
    margin: 0;
}

.container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


    padding: $gutter*3 $gutter;

    background-image: url('../assets/bgEffect.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
}
.img {
    &-left-top {
        position: absolute;
        top: -140px;
        right: auto;
        bottom: auto;
        left: -40px; 
    
        width: 352px;
        height: 360px;
    }
    &-right {
        position: absolute;
        top: 10%;
        bottom: auto;
        left: auto;

        right: -195px;
            
        width: 639px;
        height: 737px;
}
    &-left-bottom {
        position: absolute;
        top: auto;
        right: auto;

        bottom: 10px;
        left: -40px;

        width: 354px;
        height: 354px;
    }
}
.info {
    width: 500px;
    
    padding: $gutter*2 $gutter;

    z-index: 2;

    &__title {
        h1 {
            max-width: 240px;
            
            padding-top: $gutter*3;
            
            font-family: $font-lato;
            @include font-size(26);
            color: $white;
        }
        p {
            max-width: 370px;

            font-family: $font-openSans;
            @include font-size(18);

            padding: $gutter 0;

            color: $white;
        }
        .info__submit {
            display: flex;
            flex-direction: column;

            label {
                display: none;
            }
            input {
                height: 60px;

                padding:0 $gutter/2;
                margin-bottom: $gutter/2;

                @include font-size(16);
                color: $lavenderGray;
                
                background: $rgbaWith-15;
                
                border: 1px solid $rgbaWith-3;
                border-radius: 8px;
                
                backdrop-filter: blur(45px);
                
                outline: none;

                &::placeholder {
                    @include font-size(16);
                    font-family: $font-lato;
                    line-height: 1.6;
                    color: $lavenderGray;
                }
            }
            button {
                height: 50px;

                font-family: $font-lato;
                @include font-size(16);
                font-weight: $bold;
                color: $white;

                background: $gigas;
                box-shadow: 0px 4px 15px $rgbaWith-2;

                border-radius: 8px;

                outline: none;
                border: none;
            }
        }
    }
    &__card {
        margin-top: $gutter*2;

        .card {
            padding: $gutter;

            background: $rgbaWith-15;
            backdrop-filter: blur(45px);

            border-radius: 20px;

            box-sizing: border-box;

            &::before {
                content: '';

                position: absolute;
                bottom: 0;
                left: 0;
                
                height: 100%;
                width: 50%;

                border: solid 2px $rgbaWith-4;
                border-right: none;

                box-sizing: border-box;
                border-radius: 20px 0 0 20px;
            }
            &::after {
                content: '';

                position: absolute;
                bottom: 0;
                right: 0;
                
                height: 100%;
                width: 50%;

                border: solid 2px $rgbaWith-3;
                border-left: none;

                box-sizing: border-box;
                border-radius: 0 20px 20px 0;
            }
            &__title {
                h2 {
                    padding-bottom: $gutter*3;
                    
                    font-family: $font-lato;
                    @include font-size(20);
                    line-height: 30px;
                    color: $white;
                }
            }
            &__chip {
                padding-bottom: $gutter*3;

                img {
                    width: 60px;
                    height: 43px;
                }
            }
            &__footer {
                display: flex;
                justify-content: space-between;

                .footer-text {
                    font-family: $font-lato;
                    @include font-size(16);
                    line-height: 18px;
                    color: $white;
                    
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    &--large {
                        @include font-size(20);
                        line-height: 30px;
                    
                        letter-spacing: 0.07em;
                    }
                }
                &-info {
                    p{
                        @include font-size(20);
                        font-family: $font-lato;
                        color: $white;

                        & + p {
                            margin-top: $gutter/2;
                        }
                    }
                }
                &-date {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
        }
    }
}

//
// SMALL DEVICES
//____________________________________________
@media (max-width: 992px) {
    .container {
        min-height: 100%;
    }
}


//
// LARGE DEVICES
//____________________________________________

@media (min-width: 992px) {
    .container {
        height: 100vh;
    }
    .img {
        &-left-top {
            top: -170px;
            left: 10%; 

            width: 452px;
            height: 460px;
        }
        &-right {
            top: 15%;
            right: 0;

            width: 639px;
            height: 737px;
        }
        &-left-bottom {
            bottom: 130px;
            left: 11%;
        }
    }
    .info {
        display: flex;
        align-items: center;

        width: 1117px;

        &__title {
            width: 50%;

            h1 {
                max-width: 480px;
                @include font-size(48);
            }

            .info__submit {
                display: flex;
                flex-direction: row;
                align-items: center;

                position: relative;

                input {
                    width: 100%;
                    height: 70px;
                }
                .button__apply {
                    position: absolute;
                    right: 8px;
                    top: 10px;

                    width: 110px;
                    height: 50px;
                }
            }
        }
        &__card {
            padding-left: 120px;

            .card {
                width: 500px;
                height: 300px;
                min-width: 370px;

                padding: $gutter*2;
            }
        }
    }
}